## Stepwise Variable Selection Of Diabetes Data
#####  by: Layan Essam

## Diabetes Dataset
The dataset was obtained from the original publication by Bradley Efron, Trevor Hastie, Iain Johnstone, and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.

A total of ten baseline variables were collected, including age, sex, body mass index, average blood pressure, and six blood serum measurements, along with a response of interest, a measure of disease progression one year after baseline.

In the field of bioinformatics, this type of analysis is called prognostic modeling. These are statistical tools designed to predict whether an individual will experience a particular clinical outcome in the future based on current characteristics. A prognostic model can incorporate one or multiple current characteristics (multivariable).

### Exploratory Data Analysis

In [11]:
diabetes <- read.csv("diabetes.csv")
head(diabetes)

  AGE SEX BMI  BP  S1  S2    S3 S4 S5     S6 Y
1 59  2   32.1 101 157  93.2 38 4  4.8598 87 151
2 48  1   21.6  87 183 103.2 70 3  3.8918 69  75
3 72  2   30.5  93 156  93.6 41 4  4.6728 85 141
4 24  1   25.3  84 198 131.4 40 5  4.8903 89 206
5 50  1   23.0 101 192 125.4 52 4  4.2905 80 135
6 23  1   22.6  89 139  64.8 61 2  4.1897 68  97

In [12]:
str(diabetes) # structure of the dataset

'data.frame':	442 obs. of  11 variables:
 $ AGE: int  59 48 72 24 50 23 36 66 60 29 ...
 $ SEX: int  2 1 2 1 1 1 2 2 2 1 ...
 $ BMI: num  32.1 21.6 30.5 25.3 23 22.6 22 26.2 32.1 30 ...
 $ BP : num  101 87 93 84 101 89 90 114 83 85 ...
 $ S1 : int  157 183 156 198 192 139 160 255 179 180 ...
 $ S2 : num  93.2 103.2 93.6 131.4 125.4 ...
 $ S3 : num  38 70 41 40 52 61 50 56 42 43 ...
 $ S4 : num  4 3 4 5 4 2 3 4.55 4 4 ...
 $ S5 : num  4.86 3.89 4.67 4.89 4.29 ...
 $ S6 : int  87 69 85 89 80 68 82 92 94 88 ...
 $ Y  : int  151 75 141 206 135 97 138 63 110 310 ...

In [19]:
round(cor(diabetes),2)

    AGE   SEX   BMI   BP    S1   S2    S3    S4    S5    S6    Y
AGE  1.00  0.17  0.19  0.34 0.26  0.22 -0.08  0.20  0.27  0.30  0.19
SEX  0.17  1.00  0.09  0.24 0.04  0.14 -0.38  0.33  0.15  0.21  0.04
BMI  0.19  0.09  1.00  0.40 0.25  0.26 -0.37  0.41  0.45  0.39  0.59
BP   0.34  0.24  0.40  1.00 0.24  0.19 -0.18  0.26  0.39  0.39  0.44
S1   0.26  0.04  0.25  0.24 1.00  0.90  0.05  0.54  0.52  0.33  0.21
S2   0.22  0.14  0.26  0.19 0.90  1.00 -0.20  0.66  0.32  0.29  0.17
S3  -0.08 -0.38 -0.37 -0.18 0.05 -0.20  1.00 -0.74 -0.40 -0.27 -0.39
S4   0.20  0.33  0.41  0.26 0.54  0.66 -0.74  1.00  0.62  0.42  0.43
S5   0.27  0.15  0.45  0.39 0.52  0.32 -0.40  0.62  1.00  0.46  0.57
S6   0.30  0.21  0.39  0.39 0.33  0.29 -0.27  0.42  0.46  1.00  0.38
Y    0.19  0.04  0.59  0.44 0.21  0.17 -0.39  0.43  0.57  0.38  1.00

##### <span style="color:green"> The table above shows some clear patterns: Strong positive correlation between s1 and s2 - Negative correlation between s3 and other variables, including the response variable. </span>

### Stepwise variable selection

In [21]:
# load required libraries 
library(MASS)

In [22]:
fit = lm(Y ~ ., data = diabetes)
summary(fit)

Call:
lm(formula = Y ~ ., data = diabetes)

Residuals:
     Min       1Q   Median       3Q      Max
-155.827  -38.536   -0.228   37.806  151.353

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -334.56714   67.45462  -4.960 1.02e-06 ***
AGE           -0.03636    0.21704  -0.168 0.867031
SEX          -22.85965    5.83582  -3.917 0.000104 ***
BMI            5.60296    0.71711   7.813 4.30e-14 ***
BP             1.11681    0.22524   4.958 1.02e-06 ***
S1            -1.09000    0.57333  -1.901 0.057948 .
S2             0.74645    0.53083   1.406 0.160390
S3             0.37200    0.78246   0.475 0.634723
S4             6.53383    5.95864   1.097 0.273459
S5            68.48312   15.66972   4.370 1.56e-05 ***
S6             0.28012    0.27331   1.025 0.305990
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 54.15 on 431 degrees of freedom
Multiple R-squared:  0.5177,	Adjusted R-squared:  0.5066
F-statistic: 46.27 on 10 and 431 DF,  p-value: < 2.2e-16

##### <span style="color:green"> According to the p-values above : SEX,BMI,BP, and S5 are significant variables. </span>

### Forward case

In [39]:
forward <- stepAIC(fit, direction="forward")
forward$anova

Start:  AIC=3539.64
Y ~ AGE + SEX + BMI + BP + S1 + S2 + S3 + S4 + S5 + S6

  Step Df Deviance Resid. Df Resid. Dev AIC
1      NA NA       431       1263986    3539.644

##### <span style="color:green"> The forward direction does not eliminate any variable.</span>

### Backwards case

In [42]:
backward <- stepAIC(fit, direction="backward")
backward$anova

Start:  AIC=3539.64
Y ~ AGE + SEX + BMI + BP + S1 + S2 + S3 + S4 + S5 + S6

       Df Sum of Sq     RSS    AIC
- AGE   1        82 1264068 3537.7
- S3    1       663 1264649 3537.9
- S6    1      3080 1267066 3538.7
- S4    1      3526 1267512 3538.9
<none>              1263986 3539.6
- S2    1      5799 1269785 3539.7
- S1    1     10600 1274586 3541.3
- SEX   1     44999 1308984 3553.1
- S5    1     56016 1320001 3556.8
- BP    1     72100 1336086 3562.2
- BMI   1    179033 1443019 3596.2

Step:  AIC=3537.67
Y ~ SEX + BMI + BP + S1 + S2 + S3 + S4 + S5 + S6

       Df Sum of Sq     RSS    AIC
- S3    1       646 1264715 3535.9
- S6    1      3001 1267069 3536.7
- S4    1      3543 1267611 3536.9
<none>              1264068 3537.7
- S2    1      5751 1269820 3537.7
- S1    1     10569 1274637 3539.4
- SEX   1     45830 1309898 3551.4
- S5    1     55964 1320032 3554.8
- BP    1     73847 1337915 3560.8
- BMI   1    179084 1443152 3594.2

Step:  AIC=3535.9
Y ~ SEX + BMI + BP + S1 + S2 + S4 + S5 + S6

       Df Sum of Sq     RSS    AIC
- S6    1      3093 1267808 3535.0
- S4    1      3247 1267961 3535.0
<none>              1264715 3535.9
- S2    1      7505 1272219 3536.5
- S1    1     26839 1291554 3543.2
- SEX   1     46381 1311096 3549.8
- BP    1     73533 1338248 3558.9
- S5    1     97508 1362223 3566.7
- BMI   1    178542 1443256 3592.3

Step:  AIC=3534.98
Y ~ SEX + BMI + BP + S1 + S2 + S4 + S5

       Df Sum of Sq     RSS    AIC
- S4    1      3686 1271494 3534.3
<none>              1267808 3535.0
- S2    1      7472 1275280 3535.6
- S1    1     26378 1294186 3542.1
- SEX   1     44684 1312492 3548.3
- BP    1     82152 1349960 3560.7
- S5    1    102520 1370328 3567.3
- BMI   1    189976 1457784 3594.7

Step:  AIC=3534.26
Y ~ SEX + BMI + BP + S1 + S2 + S5

       Df Sum of Sq     RSS    AIC
<none>              1271494 3534.3
- S2    1     39377 1310871 3545.7
- SEX   1     41856 1313350 3546.6
- S1    1     65236 1336730 3554.4
- BP    1     79625 1351119 3559.1
- BMI   1    190592 1462086 3594.0
- S5    1    294092 1565586 3624.2

  Step  Df Deviance   Resid. Df Resid. Dev AIC
1       NA         NA 431       1263986    3539.644
2 - AGE  1   82.31076 432       1264068    3537.673
3 - S3   1  646.48348 433       1264715    3535.899
4 - S6   1 3093.23219 434       1267808    3534.979
5 - S4   1 3686.18523 435       1271494    3534.262

##### <span style="color:green"> In the backward direction, AGE, S3, S4, and S6 were eliminated due to their higher AIC in comparison to the other variables.</span>

### Both Directions

In [43]:
both = stepAIC(fit, direction="both")
both$anova

Start:  AIC=3539.64
Y ~ AGE + SEX + BMI + BP + S1 + S2 + S3 + S4 + S5 + S6

       Df Sum of Sq     RSS    AIC
- AGE   1        82 1264068 3537.7
- S3    1       663 1264649 3537.9
- S6    1      3080 1267066 3538.7
- S4    1      3526 1267512 3538.9
<none>              1263986 3539.6
- S2    1      5799 1269785 3539.7
- S1    1     10600 1274586 3541.3
- SEX   1     44999 1308984 3553.1
- S5    1     56016 1320001 3556.8
- BP    1     72100 1336086 3562.2
- BMI   1    179033 1443019 3596.2

Step:  AIC=3537.67
Y ~ SEX + BMI + BP + S1 + S2 + S3 + S4 + S5 + S6

       Df Sum of Sq     RSS    AIC
- S3    1       646 1264715 3535.9
- S6    1      3001 1267069 3536.7
- S4    1      3543 1267611 3536.9
<none>              1264068 3537.7
- S2    1      5751 1269820 3537.7
- S1    1     10569 1274637 3539.4
+ AGE   1        82 1263986 3539.6
- SEX   1     45830 1309898 3551.4
- S5    1     55964 1320032 3554.8
- BP    1     73847 1337915 3560.8
- BMI   1    179084 1443152 3594.2

Step:  AIC=3535.9
Y ~ SEX + BMI + BP + S1 + S2 + S4 + S5 + S6

       Df Sum of Sq     RSS    AIC
- S6    1      3093 1267808 3535.0
- S4    1      3247 1267961 3535.0
<none>              1264715 3535.9
- S2    1      7505 1272219 3536.5
+ S3    1       646 1264068 3537.7
+ AGE   1        66 1264649 3537.9
- S1    1     26839 1291554 3543.2
- SEX   1     46381 1311096 3549.8
- BP    1     73533 1338248 3558.9
- S5    1     97508 1362223 3566.7
- BMI   1    178542 1443256 3592.3

Step:  AIC=3534.98
Y ~ SEX + BMI + BP + S1 + S2 + S4 + S5

       Df Sum of Sq     RSS    AIC
- S4    1      3686 1271494 3534.3
<none>              1267808 3535.0
- S2    1      7472 1275280 3535.6
+ S6    1      3093 1264715 3535.9
+ S3    1       738 1267069 3536.7
+ AGE   1         0 1267807 3537.0
- S1    1     26378 1294186 3542.1
- SEX   1     44684 1312492 3548.3
- BP    1     82152 1349960 3560.7
- S5    1    102520 1370328 3567.3
- BMI   1    189976 1457784 3594.7

Step:  AIC=3534.26
Y ~ SEX + BMI + BP + S1 + S2 + S5

       Df Sum of Sq     RSS    AIC
<none>              1271494 3534.3
+ S4    1      3686 1267808 3535.0
+ S6    1      3533 1267961 3535.0
+ S3    1       395 1271099 3536.1
+ AGE   1        11 1271483 3536.3
- S2    1     39377 1310871 3545.7
- SEX   1     41856 1313350 3546.6
- S1    1     65236 1336730 3554.4
- BP    1     79625 1351119 3559.1
- BMI   1    190592 1462086 3594.0
- S5    1    294092 1565586 3624.2

  Step  Df Deviance   Resid. Df Resid. Dev AIC
1       NA         NA 431       1263986    3539.644
2 - AGE  1   82.31076 432       1264068    3537.673
3 - S3   1  646.48348 433       1264715    3535.899
4 - S6   1 3093.23219 434       1267808    3534.979
5 - S4   1 3686.18523 435       1271494    3534.262

##### <span style="color:green"> As with the backward direction, AGE, S3, S4 and S6 were eliminated in both directions. </span>

In [45]:
summary(both)

Call:
lm(formula = Y ~ SEX + BMI + BP + S1 + S2 + S5, data = diabetes)

Residuals:
     Min       1Q   Median       3Q      Max
-158.275  -39.476   -2.065   37.219  148.690

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) -313.7666    25.3848 -12.360  < 2e-16 ***
SEX          -21.5910     5.7056  -3.784 0.000176 ***
BMI            5.7111     0.7073   8.075 6.69e-15 ***
BP             1.1266     0.2158   5.219 2.79e-07 ***
S1            -1.0429     0.2208  -4.724 3.12e-06 ***
S2             0.8433     0.2298   3.670 0.000272 ***
S5            73.3065     7.3083  10.031  < 2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 54.06 on 435 degrees of freedom
Multiple R-squared:  0.5149,	Adjusted R-squared:  0.5082
F-statistic: 76.95 on 6 and 435 DF,  p-value: < 2.2e-16

#### <span style="color:green"> So the optimal variables selected by stepwise selection is SEX + BMI + BP + S1 + S2 + S5 </span>

### Another way to calculate AIC

In [46]:
AIC(forward)
AIC(backward)
AIC(both)

[1] 4795.986

[1] 4790.603

[1] 4790.603

#### <span style="color:green"> As with the previous results, both directions (backward, both) resulted in low AICs. As a result, both suggest the optimal variables for the model.  </span>